<div class="footer">
    <div class="social-nav">
        <a href="https://dribbble.com/AndyHulme">Dribbble</a>
        <a href="https://www.linkedin.com/in/andyhulme-says-hi/">LinkedIn</a>
        <a href="https://twitter.com/andymchulme?lang=en">Twitter</a>
    </div>

    <div class="contact">
        <a class="derulo" href="mailto:ashulme1983@gmail.com"><span class="wiggle">✌️</span>  Email Me</a>
    </div>
</div>

<!-- Cirlce thing -->
<div class="fancy-wrap">

    <div class="blur-bois">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>

<!-- End main wrapper from header.html -->
</div>

